{% extends 'layout1.html' %}

{% block page_content %}
{% from 'bootstrap4/form.html' import render_form_row, render_field, render_hidden_errors %}
    <!--<div class="hero-wrap hero-bread" style="background-image: url('static/images/bg_1.jpg');">-->
      <div class="container mt-5 mb-3">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{{url_for('main.index')}}">
                Home</a></span><span>&nbsp;/&nbsp;Contact us</span></p>
          </div>
        </div>
      </div>


    <section class="ftco-section contact-section bg-light">
      <div class="container">
      	<div class="row d-flex mb-5 contact-info">
          <div class="w-100"></div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span class="text-secondary">Address:</span>Suakoko, Bong County, Liberia</p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span class="text-secondary">Phone:</span> <a href="tel://231775178202">+231-775178202</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span class="text-secondary">Email:</span>
                    <a class="text-info" href="mailto:agrihandy@gmail.com">agrihandy@gmail.com</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span class="text-secondary">Website:</span>
                    <a class="text-info" href="{{ url_for('main.index')}}">www.agrihandy.com</a></p>
	          </div>
          </div>
             <div class="col-md-2"></div>
        </div>
          <div class="container">
        <div class="row block-9">
          <div class="col-md-12 d-flex">
              <iframe class="w-100"
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15840.
              654186931144!2d-9.590158679480645!3d6.9900090675123066!2m3!1f0!2f0!3f0!3m2!
              1i1024!2i768!4f13.1!3m3!1m2!1s0xfa6f57c7dce3d9b%3A0x1f0ac3007182721f!2sSuakoko
              %2C%20Liberia!5e0!3m2!1sen!2s!4v1657123071390!5m2!1sen!2s"
                      frameborder="0"
                      style="min-width: 350px; border:0;" height=500 allowfullscreen=""
                     tabindex="0"></iframe>
          </div>
        </div>
      </div>
      </div>
    </section>

{% endblock %}