{% extends "layout.html" %}

{% block page_content %}
{% from 'bootstrap5/form.html' import render_form_row, render_hidden_errors, render_field %}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
<div class="shadow-lg p-4 bg-body mt-5 rounded">
<form action="#"
      method="POST" enctype="multipart/form-data">

    {{ form.hidden_tag() }}
    <strong>{{ render_hidden_errors(form) }}</strong>
    <strong>{{ render_field(form.email) }}</strong>
     <strong>{{ render_field(form.submit_email, class="btn btn-lg text-light mt-2 mb-3 bg-dark") }}</strong>
</form><hr>
</div>
        </div>
    </div>
</div>

{% endblock %}
