{% extends "layout1.html" %}
{% block title%}Products{% endblock %}

{% block page_content %}
 <!--<div class="hero-wrap hero-bread" style="background-image: url('static/images/bg_1.jpg');">-->
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="mt-4 breadcrumbs"><span class="mr-2"><a href="{{ url_for('main.show_products')}}">
                Market</a></span><span>/ Products</span></p><hr>
          </div>
        </div>
      </div>


    	<div class="container mt-3 mb-3">
    		<div class="row justify-content-center">
    			<div class="col-md-10 text-center">
    				<ul class="product-category">
    					<li><a href="{{ url_for('main.show_products')}}" class="active">All</a></li>
    					<li><a href="{{ url_for('main.vegetables')}}">Vegetables</a></li>
    					<li><a href="{{ url_for('main.fruits')}}">Fruits</a></li>
    					<li><a href="{{ url_for('main.tuber_crops')}}">Tuber Crops</a></li>
    					<li><a href="{{ url_for('main.poultry')}}">Poultry</a></li>
                        <li><a href="{{ url_for('main.fishery_all')}}">Fishery</a></li>
                        <li><a href="{{ url_for('main.livestock_ruminant')}}">Livestock/Ruminants</a></li>
    				</ul>
    			</div>
    		</div>
        </div>


<div class="container">
			 <div class="col-lg-1"></div>
                <div class="col-lg-10 col-md-12 col-12"></div>
    		<div class="row">
				{% for product in product.items %}
    			<div class="col-md-6 col-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="{{ url_for('main.product_details', product_id=product.id)}}"
						   class="img-prod">
							<img src="{{ url_for('static', filename='products_imgs/'+product.product_img) }}"
								 width=280 height=180 alt="agriproduct">
    						<span class="status">
                                    {% if product.discount > 0 %}
                                    <small class="sale">{{ product.discount }}%&nbsp;discount</small>
                                    {% else %}

                                    {% endif %}
							</span>
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#"></a>{{ product.product_name}}</h3>
									<span class="text-success">${{ product.unit_price }}</span>
	    					<div class="d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="{{ url_for('main.product_details', product_id=product.id)}}"
									   class="d-flex text-secondary text-center">
										<span><small><i class="fa fa-eye"></i>&nbsp;See details</small></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
			{% endfor %}
				  </div>
        </div>


    <hr>
<div class="text-center">
    <a href="{{ url_for('main.show_products', page=product.prev_num) }}"
       class="btn btn-sm btn-outline-success
       {% if product.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>

{% for page_number in product.iter_pages() %}
        {% if page_number %}

        <div class="d-md-inline text-center d-inline d-lg-inline mb-2 ml-auto">
            {% if product.page == page_number %}
            <a href="{{ url_for('main.show_products', page=page_number) }}"
               class="btn btn-success">
                {{ page_number }}
            </a>
            {% else %}
            <a href="{{ url_for('main.show_products', page=page_number) }}"
               class="btn btn-outline-success btn-sm">
                {{ page_number }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('main.show_products', page=product.next_num) }}"
       class="btn btn-outline-success btn-sm
       {% if product.page == product.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
</div>
<p class="text-center mt-3">
   Showing page {{ product.page }} of {{ product.pages }}
</p>




{% endblock %}